* {
  --n-blue: 0, 98, 185;
  --blue: rgba(0, 98, 185, 0.8);
  --red: red;
  --purple: rgba(143, 162, 255, 0.8);
  --green: rgba(31, 79, 45, 0.8);
  --light-green: rgba(101, 146, 74, 0.8);
  --brown: rgba(129, 104, 8, 0.8);
  --light-brown: rgba(186, 155, 65, 0.8);
  --main-color:  var(--n-blue);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; 
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

  @media only screen and (max-width: 75em) {
    html {
      font-size: 59%; 
    } 
    }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56%; 
    } 
  }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 65%; 
    }
   }

body {
 box-sizing: border-box;
 position: relative;
 line-height: 1.5;
 font-family: sans-serif;
 overflow-x: hidden;
 overflow-y: scroll;
 font-family: 'Source Sans Pro', sans-serif; 
}

a {
  text-decoration: none;
  color: inherit; 
}

li {
  list-style: none; 
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}
